.container {
  /* min-height: 100vh; */
  /* padding: 0 0.5rem; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  /* background-color: red; */
}

.footer {
  width: 100%;
  height: 100px;
  /* border-top: 1px solid #eaeaea; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}
.footer div {
  flex: 1;
}

.title {
  margin: 0;
  /* line-height: 1.15; */
  font-size: 3rem;
  margin-bottom: 1em;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  padding: 0.5em;
  border: 1px dotted white;
  border-radius: 1em;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0.25em;
  text-align: left;
  margin: 0.5em;
  margin-bottom: 2em;
  transition: all .3s;
  max-width: 400px;
}
.description .desctitle {
  /* padding: 1em; */
  /* transform: translate(0px, -100px); */
  margin-top: -2.5em;
  margin-bottom: 1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: -0.5em;
  text-decoration: underline;
}

.description:hover {
  transform: translate(0px, -3px);
}

.description-wrapper {
  text-align: left;
  margin: 0 auto;
  display: grid;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.social {
  font-size: 2em;
  transition: all .3s;
}

.social:hover {
  transform: translate(0px, -3px);
}

@keyframes beat {
  0%
  {
    transform: scale( 1 );
  }
  10%
  {
    transform: scale( 1.2 );
  }
  20%
  {
    transform: scale( 1 );
  }
  30%
  {
    transform: scale( 1.2 );
  }
  50%
  {
    transform: scale( 1 );
  }
  100%
  {
    transform: scale( 1 );
  }
}

.heart {
  font-size: 1.5em;
  animation: beat 2s ease-in-out 0s infinite;
}